img{
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

.card{
    box-shadow: 0px 0px 10px 5px  #AAB7B8;
    width: 500px;
    height: 500px;
    float: left;
    padding: 50px 50px;
    margin-left: 25px;
    cursor: pointer;
    align-items: center;
}

.card:hover{
    background-color:    #D5D8DC;
    color: white;
}